@use 'var';

.main-disney {
    width: 100vw;
    height: 100vh;
    padding: 0 8vw 0 18vw;
}

.row-disney-index {
    width: 75vw;
    min-height: 100vh;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title-disney-index {
    width: 70vw;
    margin: 25px 0px 0px 25px;
}

.content-title-disney-index {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    width: 100%;
    min-height: 100%;
    background-color: #172b69;
    padding: 15px;
    border-radius: 50px;
    color: #F2F2F2;
    text-align: center;
}

.disney-index-image:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.disney-index-image-top:hover {
    cursor: pointer;
    transform: scale(1.1);
}


@media screen and (max-width: 900px){
    .disney-index-image, .disney-index-image-top{
      width: 90%;
    }
}

@media screen and (max-width: 640px){
    .disney-index-image, .disney-index-image-top{
      width: 75%;
    }
}