@use 'var';

main {
    width: 100vw;
    height: 100vh;
    padding: 0 8vw 0 18vw;
}

.container-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 50px;
}

.text-block {
    width: 70%;
    background-color: #ff5f1fa2;
    border-radius: 8px;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 8px;
    font-size: 20px;
    font-weight: 300;
}

.span-disney-plus {
    font-size: 36px;
}


.dinsey-image-about {
    width: 70%;
    border-radius: 8px;
}

.text-block-two {
    width: 70%;
    background-color: #ff5f1fa2;
    border-radius: 8px;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px;
    font-size: 20px;
    font-weight: 300;
}

.text-left {
    font-size: 24px;
}

.span-prices {
    font-size: 16px;
}