@use 'var';

.main-disney {
    width: 100vw;
    height: 100vh;
    padding: 0 8vw 0 18vw;
}

.title-disney-index {
    width: 70vw;
    margin: 25px 0px 0px 25px;
}

.content-title-disney-index {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    width: 100%;
    min-height: 100%;
    background-color: #172b69;
    padding: 15px;
    border-radius: 50px;
    color: #F2F2F2;
    text-align: center;
}

.row-disney-index {
    width: 75vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    gap: 1rem;
}

.column-disney-index-two {
    width: 75%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}

.disney-index-image {
    width: 100%;
    align-self: flex-end;
}

.disney-index-image-top {
    width: 100%;
}

.disney-index-image:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.disney-index-image-top:hover {
    cursor: pointer;
    transform: scale(1.1);
}


@media screen and (max-width: 900px){
    .column-disney-index-two, .row-disney-index, .disney-index-image-top{
      width: 75%;
      flex-direction: column;
    }
}

@media screen and (max-width: 640px){
    .column-disney-index-two, .row-disney-index{
        width: 75%;
        flex-direction: column;
    }
}