@use 'var';

main {
    width: 100vw;
    height: 100vh;
    padding: 0 8vw 0 18vw;
}

.row-disney-index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    gap: 1rem;
}

.disney-index-image {
    width: 30%;
}

.disney-index-image-top {
    width: 91%;
}
