@use 'var';

//*COLOURS//
$hbo-main-color: #341454;
$hbo-main-color-2: #030528;
$hbo-main-color-3: #9c4cec;

//*FONTS//
$main-font-style: 'Merriweather Sans', sans-serif;

body {
    background-color: $hbo-main-color-2;
}

.nav {
    background-color: $hbo-main-color;
}