//colors// 
$accent-color: #FF5F1F;
$black-color: #080808;
$white-color: #F2F2F2;
$pure-white-color: #FFFFFF;

//fonts// 
$logo-font: 'Oswald', sans-serif;
$subtitle-font: 'Exo', sans-serif;
$text-font: 'Merriweather Sans', sans-serif;

//font-sizes//
$size-extra-small: 12px;
$size-small: 16px;
$size-regular: 20px;
$size-medium: 24px;
$size-large: 36px;
$size-extra-large: 48px; 

//font-weights//
$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

//box shadows// 
$icons-shadow: -5px -5px 60px rgba(255, 255, 255, 0.25);

//linear backgrounds//
$linear-bg-cards: linear-gradient(90deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
$linear-bg-under-titles:  linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.24) 100%);