@use 'var';

@import 'navs';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a, button, input, textarea, select {
    all: unset;
}
ul, li {
    list-style-type: none;
}

body {
    /*background-color: var.$black-color;*/
    background: rgb(88,72,223);
    background: linear-gradient(90deg, rgba(88,72,223,1) 15%, rgba(6,24,106,1) 44%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 80vw;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.top-banner {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    width: 30vw;
    height: 30vh;
    align-self: flex-end;
}

.review-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20vw;
    height: 35vh;
    margin: 20px;
}

container.review {
    width: 50vw;
    height: 50vh;
    background-color: #867ae7;
    border-radius: 20px;
    margin: 10px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    color: #F5CB46;
}

.card-content {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    font-style: italic;
    color: #FFFFFF;
}

.rating {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 74px;
    text-align: center;
    color: #F5CB46;
}

.span-stars {
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {

    .title {
        font-size: 35px;
        line-height: 40px;
    }
    
}