@use 'var';

@import 'navs';
@import 'disney-main';
@import 'disney-movies';
@import 'disney-about';
@import 'disney-series';
@import 'disney-producers';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, button, input, textarea, select {
    all: unset;
}

ul, li {
    list-style-type: none;
}

body {
    background-color: var.$black-color;
}