@use 'var';
@import 'hbo-var';
@import 'navs';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,
button,
input,
textarea,
select {
    all: unset;
}

ul,
li {
    list-style-type: none;
}

body {
    background-color: $hbo-main-color-2;
}

.hbo {
    display: block;

    .hbo-logo {
        width: 150px;
        height: auto;
        display: block;
        margin-left: 52vw;
        margin-right: auto;
        margin-top: 30px;
    }

    .text {
        font-family: $main-font-style;
        color: white;
        display: block;
        margin-left: 52.7vw;
        margin-right: auto;
    }
}

.reviews-container {
    background-color: $hbo-main-color-2;
    height: 16vw;
    display: block;
    margin-left: 27vw;
    margin-right: auto;
    width: 60%;
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid $hbo-main-color-3;
    box-shadow: 0px 0px 20px $hbo-main-color-3;
    padding: 5px 5px;

    .container-2 {
        height: 18vw;
        display: block;
        margin-right: auto;
        width: 900px;
        border-radius: 10px;
        margin-top: 40px;
        border: 1px solid $hbo-main-color-3;
        box-shadow: 0px 0px 20px $hbo-main-color-3;

        .text {
            font-family: $main-font-style;
            color: white;
            font-size: 20px;
            text-align: center;
        }
    }

    .text {
        font-family: $main-font-style;
        color: white;
        text-align: center;
        margin-top: 7px;
        font-size: 20px;
    }
}

.review-images {
    display: inline-block;
    margin-top: 18vw;
    margin-bottom: 30px;

    .review {
        width: 600px;
        height: auto;
        border: 1px solid $hbo-main-color-3;
        box-shadow: 0px 0px 20px $hbo-main-color-3;
        display: inline-block;
        margin-left: 37.5vw;
        margin-top: 20px;
    }
}