.title__main {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #F2F2F2;
  margin-bottom: 2vh;
}
.title__secondary {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #F2F2F2;
}

.subtitle {
  font-family: "Exo", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #F2F2F2;
  opacity: 0.8;
  font-style: italic;
}

.text {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #F2F2F2;
  opacity: 0.8;
}

.btn__vertical {
  width: 2vw;
  height: 20vh;
  border: 1px solid #FF5F1F;
  border-radius: 0 1vw 1vw 0;
  background: linear-gradient(rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.24) 100%);
  color: #FF5F1F;
  text-align: center;
}
.btn__vertical:hover {
  cursor: pointer;
}
.btn__horizontal {
  border-radius: 1vw;
  background: linear-gradient(rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.24) 100%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  color: #080808;
}
.btn__horizontal:hover {
  cursor: pointer;
}
.btn__horizontal__left {
  align-self: center;
  padding-left: 1vw;
}
.btn__horizontal__right {
  padding: 1vw;
}
.btn__secondary {
  display: flex;
  gap: 1vw;
  font-size: 12px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  opacity: 0.7;
  color: #F2F2F2;
}
.btn__secondary:hover {
  cursor: pointer;
  opacity: 1;
}

.news {
  padding: 0 8vw 0 8vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.news__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #FF5F1F;
  font-weight: 400;
}
.news__cards {
  display: flex;
  gap: 2vw;
  width: 100%;
}
.news__left {
  width: 100%;
  border-radius: 1vw;
  padding: 12vh 3vw 3vh 3vw;
  display: flex;
  flex-direction: column;
}
.news__right {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.news__right__card {
  width: 14vw;
  height: 20vh;
  border-radius: 1vw;
  display: flex;
  justify-content: space-between;
}

.top {
  padding: 0 8vw 0 8vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.top__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #FF5F1F;
  font-weight: 400;
}
.top__title span {
  font-size: 20px;
  font-weight: 300;
  padding-left: 1vw;
}
.top__cards {
  display: flex;
  gap: 2vw;
  width: 100%;
}
.top__card {
  height: 35vh;
  width: 15vw;
  border-radius: 1vw;
  display: flex;
  align-items: flex-end;
}
.top__load {
  border-radius: 1vw;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.top__load a {
  width: 100%;
}

.details {
  margin: 2vw 0 4vw 0;
  padding: 0 8vw 0 8vw;
  display: flex;
  gap: 2vw;
  width: 100%;
}
.details__left, .details__right {
  border-radius: 1vw;
  background: linear-gradient(rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.details__left__title {
  font-size: 20px;
}
.details__left__source {
  align-self: flex-end;
}
.details__right__title {
  width: 14vw;
  font-size: 16px;
}
.details__right__container {
  margin-top: 2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.details__right__item {
  display: flex;
  justify-content: space-between;
}
.details__right__text {
  width: 6vw;
}

.genres {
  padding: 0 8vw 0 8vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.genres__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #FF5F1F;
  font-weight: 400;
}
.genres__cards {
  display: flex;
  gap: 2vw;
  width: 100%;
}
.genres__card {
  width: 100%;
  border-radius: 1vw;
  background: linear-gradient(rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
  text-align: center;
  opacity: 0.7;
  padding: 3vh 0;
}
.genres__card:hover {
  cursor: pointer;
  opacity: 1;
}

.ranking {
  padding: 0 8vw 0 8vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.ranking__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #FF5F1F;
  font-weight: 400;
}
.ranking__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding-bottom: 4vh;
}
.ranking__card {
  height: 35vh;
  border-radius: 1vw;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
  position: relative;
}
.ranking__card__img {
  border-radius: 1vw;
  width: 12vw;
}
.ranking__card__left, .ranking__card__right, .ranking__card__middle {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ranking__card__left {
  width: 10vw;
  justify-content: space-between;
  align-items: center;
}
.ranking__card__middle {
  width: 40vw;
  gap: 4vh;
}
.ranking__card__right {
  width: 20vw;
  justify-content: space-between;
  align-items: center;
}
.ranking__card__rating {
  display: flex;
  gap: 1vw;
}
.ranking__card__rating, .ranking__card__title, .ranking__card__year {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 24px;
  color: #F2F2F2;
}
.ranking__card__place {
  position: absolute;
  top: 1vw;
  left: 1vw;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 24px;
  color: #FF5F1F;
  background-color: #080808;
  text-align: center;
  border-radius: 0.5vw;
  padding: 0.5vw;
  font-weight: 700;
}
.ranking__card__text {
  font-size: 16px;
  line-height: 22px;
}
.ranking__card__btn {
  background-color: #080808;
  border-radius: 1vw;
  padding: 1vw;
  text-align: center;
}

body {
  background-color: #080808;
}

.header {
  width: 18vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.header .nav {
  padding: 5vw 2vw 2vw 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .nav__logo {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  color: #F2F2F2;
  text-transform: capitalize;
  text-align: center;
}
.header .nav__logo__m {
  color: #FF5F1F;
}
.header .nav__logo:hover {
  cursor: pointer;
}
.header .nav__links {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  color: #F2F2F2;
}
.header .nav__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2vw;
  width: 100%;
}
.header .nav__link i {
  margin: 0 1vw;
}
.header .nav__link:hover {
  cursor: pointer;
  border-radius: 1vw;
  border-bottom: 3px solid #FF5F1F;
}
.header .nav__streaming-service-logo {
  align-self: center;
}
.header .nav__streaming-service-logo img {
  width: 10vw;
  height: auto;
}
.header .nav__streaming-service-logo:hover {
  cursor: pointer;
}

.footer {
  width: 8vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}
.footer__container {
  width: 100%;
  height: 100%;
  padding: 3vw 2vw 2vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer__user {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background: linear-gradient(rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__user i {
  color: #F2F2F2;
  opacity: 0.7;
  font-size: 24px;
}
.footer__user:hover {
  cursor: pointer;
}
.footer__user:hover i {
  opacity: 1;
}
.footer__services {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}
.footer__icon {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  box-shadow: -5px -5px 60px rgba(255, 255, 255, 0.25);
  opacity: 0.4;
}
.footer__icon img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__icon:hover {
  cursor: pointer;
  opacity: 1;
}

.btn__primary {
  padding: 1vw 2vw;
  border: 1px solid #FF5F1F;
  border-radius: 2vw;
  background: linear-gradient(rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
  color: #FF5F1F;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  gap: 4vw;
  opacity: 0.7;
}
.btn__primary:hover {
  cursor: pointer;
  opacity: 1;
}

.search {
  height: 3vw;
  width: 14vw;
  background: linear-gradient(rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
  border-radius: 2vw;
  position: relative;
}
.search__input {
  position: absolute;
  right: 0;
  height: 3vw;
  width: 10vw;
}
.search__input::-moz-placeholder {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  color: #F2F2F2;
}
.search__input:-ms-input-placeholder {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  color: #F2F2F2;
}
.search__input::placeholder {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  color: #F2F2F2;
}
.search__label {
  position: absolute;
  top: 1vw;
  left: 1vw;
}
.search__label i {
  color: #F2F2F2;
  opacity: 0.6;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, button, input, textarea, select {
  all: unset;
}

ul, li {
  list-style-type: none;
}

body {
  background-color: #080808;
}

.link__about {
  border-radius: 1vw;
  border-bottom: 3px solid #FF5F1F;
}

.list {
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.list__item {
  opacity: 0.6;
  font-size: 16px;
}
.list__item:hover {
  cursor: pointer;
  opacity: 1;
}

.active {
  opacity: 1;
}

.main {
  width: 100%;
  max-width: 1900px;
  height: 100%;
  padding: 0 8vw 0 18vw;
}
.main__search {
  padding: 3.5vw 1vw;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}/*# sourceMappingURL=netflix-ranking.css.map */